body, p, ul, li, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.header {
    background-color: #f6f2f1;
    padding-top: 20px;
    padding-bottom: 40px;

}

.top-menu {
    background-color: #30302f;
    text-align: center;
}

.top-menu-item {
    display: inline-block;
    padding: 30px 20px;
}

.top-menu-item:hover {
    background-color: #ff3f40;
}

.top-menu-item:hover .top-menu-link {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px;
}

.top-menu-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.content-button {
    font-size: 18px;
    padding: 15px 70px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    letter-spacing: 2px;
}

.content-button:hover {
    color: #ff3f40;
    background-color: white;
}

.header-button {
    background-color: #ff3f40;
    color: white;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
}

.header-about-us {
    width: 50%;
}

.header-media {
    width: 50%;
}

.header-h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.header-p {
    color: #8e8d8b;
    margin-right: 100px;
    line-height: 1.7;
}

.h2-title {
    color: #555555;
    text-transform: uppercase;
    font-size: 32px;
    margin: 30px 0;
}

.description {
    color: #8e8d8b;
}

.text-center {
    text-align: center;
}

.features-description {
    width: 500px;
    margin: 0 auto;
}

.features-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-product-item {
    width: 24%;
    position: relative;
}

.features-product-item img {
    max-width: 100%;
}

.red-line {
    background-color: #da3c3b;
    height: 2px;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.line-center {
    margin-left: auto;
    margin-right: auto;
}

.features-menu {
    text-align: center;
    margin: 40px auto;
}

.features-menu-item {
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid transparent;
}

.features-menu-link {
    text-decoration: none;
    color: #555555;
    text-transform: uppercase;

}

.features-menu-item:hover {
    background-color: #ff3f40;
    color: #ffffff;
    border: 1px solid #303030;
}

.features-menu-item:hover .features-menu-link {
    color: #ffffff;
}

.features-menu-link.active {

}

.buy-now {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 15px 20px;
    background-color: #ff3f40;
    border-radius: 5px;
    position: absolute;
    top: 120px;
    left: 90px;
}

.content-button-inverse {
    background-color: white;
    color: #ff3f40;
    border: 1px solid #ff3f40;
}

.content-button-inverse:hover {
    color: white;
    background-color: #ff3f40;
}

.two-cols {
    display: flex;
    border-bottom: 1px solid #ededed;
    padding-bottom: 80px;
}

.col-left {
    width: 50%;
    margin-right: 100px;
}

.col-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;

}

.offer-item {
    width: 50%;
}

.fas {
    font-size: 50px;
    color: red;
    margin-bottom: 30px;
    margin-top: 30px;
}

.our-offers {
    padding: 40px 0;
}

.contact-us {
    width: 60%;
}

.contact-field {
    padding: 20px 30px;
    background-color: #e5e5e5;
    color: #7f7f7f;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-bottom: 30px;

}

.contacts {
    padding: 100px 0;
    position: relative;
    overflow: hidden;

}

.contact-input {
    width: 39%;
}

.contact-input:first-child {
    margin-right: 25px;
}

.contact-textarea {
    width: 90%;
}

.contact-submit {
    width: 98%;
    padding: 20px 30px;
    background-color: #ff3b3c;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid transparent;
}

.contact-info {
    position: absolute;
    left: 65%;
    background-color: #2d2d2d;
    width: 100%;
    bottom: 100px;
    padding: 92px 60px;
}

.contact-h3 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
}

.contact-item {
    color: #dadada;
    margin: 20px 0;
}

.footer {
    background-color: #303030;
    padding: 30px 0;
}

.copyright {
    color: white;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.footer-social-icon-item {
    color: #dadada;
    text-decoration: none;
}

