body, p, ul, li, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    min-width: 320px;
}

.clearfix {
    content: ' ';
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    /*min-width: 320px;*/

}

.header {
    background: url("../img/header-forkio.png") no-repeat center;
    background-size: cover;

}

.background-main-menu {
    background: rgba(129, 119, 157, 0.20);
}

.main-menu {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 29px 10px 30px;
}

.main-menu-logo-items {
    display: flex;
    align-items: center;
}

.main-menu-logo-items:hover .main-menu-logo {
    background-color: white;
}

.main-menu-logo-items:hover .main-menu-company {
    color: white;
}

.main-menu-logo-items:hover span {
    color: white;
}

.main-menu-logo {
    display: inline-block;
    width: 43px;
    height: 41px;
    -webkit-mask: url(../img/Logo-forkio.svg) no-repeat;
    mask: url(../img/Logo-forkio.svg) no-repeat;
    background-color: #8d81ac;
}

.main-menu-company {
    font-family: Lato, sans-serif;
    color: #8d81ac;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 17px;
    text-decoration: none;
}

.test {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.main-menu-dropDown-links {
    width: 70%;
}

.main-menu-links {
    display: flex;
    justify-content: space-between;

}

.main-menu-links-item:first-child {
    display: none;
}

.main-menu-links-item a {
    font-family: Montserrat, sans-serif;
    color: #8d81ac;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: none;

}

.main-menu-links-item:last-child {
    margin-right: 0;
}

.main-menu-links-item a:hover {
    color: white;
}

.main-menu-button-item {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 19px;
    background-color: #8d81ac;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    width: 140px;

}

.main-menu-button-item:hover {
    background-color: white;
    color: #8d81ac;
}

.header-info {
    margin-top: 60px;
    padding-bottom: 487px;
    text-align: center;
    position: relative;
}

.app-name {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 82px;
    font-weight: 700;
    line-height: 1em;
}

.app-slogan {
    margin-top: 18px;
    font-family: Lato, sans-serif;
    color: #8d81ac;
    font-size: 30px;
    font-weight: 400;
    line-height: 1em;
}

.version-number {
    margin-top: 18px;
    font-family: Montserrat, sans-serif;
    color: #848e97;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.download-app {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -65px;

}

.download-button {
    display: inline-block;
    width: 390px;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #8d81ac;
    border-radius: 50px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 16px;
}

.download-button:hover {
    background-color: white;
    color: #8d81ac;
}

.info-about-download {
    margin-top: 19px;
    font-family: Montserrat, sans-serif;
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
}

.app-info-about {
    padding-top: 129px;
    padding-bottom: 58px;
    text-align: center;
}

.app-info-about-item {
    font-family: Montserrat, sans-serif;
    color: #635c73;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
}

.app-info-about-item-description {
    margin-top: 39px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #323232;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 36px;
}

.app-info-social {
    width: 365px;
    display: inline-flex;
    justify-content: space-between;
}

.app-info-social-item {
    padding: 3px 10px;
    font-size: 12px;
    color: #24292e;
    background: #eff3f6 linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border: 1px solid rgba(27, 31, 35, 0.2);
    float: left;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 0.25em 0px 0px 0.25em;
    line-height: 20px;
    font-weight: 900;
}

.app-info-social-item:hover {
    background: #eff3f6 linear-gradient(-180deg, #fafbfc 0%, #eff3f6 0%);
    border: 1px solid rgba(27, 31, 35, 0.3);
}

.app-info-social-item svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
}

.people-quantity {
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    float: left;
    font-weight: 600;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-decoration: none;
}

.people-quantity:hover {
    color: #0365d6;
}

.app-features {
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-bottom: 55px;
    position: relative;
    overflow: hidden;
}

.app-capabilities-example-title {
    position: absolute;
    left: 52.5%;
    top: 78px;
    font-family: Montserrat, sans-serif;
    color: #8d81ac;
    font-size: 48px;
    font-weight: 700;
    line-height: 1em;
}

.app-features-about {
    position: relative;
    width: 40%;
    margin-left: 12px;
}

.app-features-about-item {
    display: flex;
    margin-bottom: 34px;
}

.app-features-about-item:last-child {
    margin-bottom: 0;
}

.app-features-about-item-logo {
    height: 110px;
    position: relative;
    flex: 0 0 134px;
    align-items: center;
}

.small-icon {
    position: absolute;
    left: 15px;
}

.second-small-icon {
    position: absolute;
    left: 10px;
}

.app-capabilities {
    font-family: Montserrat, sans-serif;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
}

.app-capabilities-description {
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    color: #848e97;
    font-size: 14px;
    font-weight: 400;

}

/*.app-capabilities-example {*/

/*position: absolute;*/
/*left: 52.5%;*/
/*bottom: 55px;*/
/*width: 100%;*/
/*}*/

.app-capabilities-example-window {
    position: absolute;
    left: 52.5%;
    bottom: 55px;
    width: 100%;
    margin-top: 51px;
    background: url("../img/code1.png") no-repeat;

    padding: 24px 70px 347px 30px;
}

.app-navigation-button {
    float: left;
}

.app-capabilities-example-window-title {
    display: inline;
    padding-left: 438px;
    font-family: Montserrat, sans-serif;
    color: rgba(199, 199, 199, 0.9);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.image-window {
    background: url("../img/code.png") no-repeat;
    height: 407px;
}

.app-capabilities-example-window-files {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;

}

.new-color {
    color: #c7c7c7;
}

.first-file {
    margin-top: 51px;
    margin-bottom: 12px;
}

.reviews {
    padding-top: 87px;
    padding-bottom: 80px;
}

.user-reviewer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-reviewer-photo {
    margin-right: 23px;
}

.user-reviewer-name {
    font-family: Montserrat, sans-serif;
    color: #635c73;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.another-color {
    font-family: Montserrat, sans-serif;
    color: #8d81ac;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.reviews-text {
    text-align: center;
    margin-top: 48px;
}

.reviews-text-item-navigation {
    display: flex;
    justify-content: center;

}

.reviews-text-item-navigation-left {
    width: 20%;
    height: 16px;
}

.reviews-text-item-navigation-right {
    width: 20%;
    height: 16px;
}

.reviews-text-item {
    width: 60%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    transform: scaleX(1.0059);
}

.reviews-text-item-another-color {
    font-family: 'Source Sans Pro', sans-serif;
    color: #8d81ac;
    font-size: 20px;
    font-weight: 400;
}

.reviews-text-item-time {
    margin-top: 24px;
    font-family: Montserrat, sans-serif;
    color: #848e97;
    font-size: 16px;
    font-weight: 400;
}

.grey-line {
    margin-top: 57px;
    margin-bottom: 0;
    background-color: rgba(199, 199, 199, 0.2);
    width: 780px;
    height: 1px;
    border: transparent;
}

.social-buttons {
    width: 780px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

.fa {
    padding: 15px 0px 15px 24px;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    width: 216px;

}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-facebook:hover {
    background: white;
    color: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter:hover {
    background: white;
    color: #55ACEE;
}

.fa-github {
    background: #f3f3f3;
    color: black;
}

.fa-github:hover {
    background: black;
    color: #f3f3f3;
}

.social-buttons-name {
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}

.first {
    margin-left: 39px;
}

.second {
    margin-left: 40px;
}

.third {
    margin-left: 36px;
}

.social-buttons-item-quantity {
    font-family: Montserrat;
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
    text-align: center;
}

.talks-about-fork {
    background: url("../img/Layer 1-2.png") no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 98px 10px 49px;
}

.second-line {
    width: 780px;
    margin-top: 81px;
    margin-bottom: 0;
    background-color: rgba(199, 199, 199, 0.2);
    height: 1px;
    border: transparent;
    margin-top: 98px;

}

.talks-about-fork-companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.talks-about-company-item {
    width: 30%;
    margin-top: 92px;
}

.talks-about-company-item-logo {
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.talks-about-fork-title {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 15px;
}

.talks-about-fork-companies-item-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    margin-top: 33px;
}

.fork-offers {
    background: url("../img/Layer 2-2.png") no-repeat;
    background-size: cover;
    padding: 30px 10px 77px;
    text-align: center;
}

.offers-title {
    line-height: 50px;
}

.violet-line {
    border: transparent;
    background-color: #8d81ac;
    height: 5px;
    width: 60px;
    margin-top: 39px;
    margin-bottom: 31px;

}

.fork-offers-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}

.fork-offers-item {
    display: flex;
    flex-direction: column;
    margin-top: 122px;
    background-color: rgba(255, 255, 255, 0.11);
    height: 457px;
    width: 21.5%
}

.fork-offers-item:nth-child(3) {
    width: 25%;
}

.fork-offers-item-info {
    position: relative;
}

.fork-offers-item-name {

    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    /*padding: 46px 63px 34px 63px;*/
    padding-top: 46px;
    padding-bottom: 34px;
    background-color: rgba(255, 255, 255, 0.06);
    text-transform: uppercase;
}

.second-item-services {
    padding: 46px 31px 34px 32px
}

.fork-offers-item-price {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 32px;

}

.price-color {
    font-weight: 700;
}

.fork-offers-item-term {
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
    color: #8e8d8b;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

}

.fork-offers-item-services {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.fork-offers-item-button {
    display: block;
    position: absolute;
    top: 280px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 12px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 160px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;

}

.fork-offers-item-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(127, 109, 120)
}

.most-cool-item {
    background-color: rgba(0, 0, 0, 0.13);
    height: 560px;
    margin-top: 71px;
}

.third-item-services {

    padding-top: 51px;
    padding-bottom: 43px;
}

.biggest-price {
    font-size: 82px;
}

.most-cool-item-price-button {

    top: 350px;
}

.fourth-item-services {
    padding: 47px 51px 33px 50px;
}

.fork-offers-footer {
    margin-top: 81px;
}

.fork-offers-footer-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    color: rgba(162, 145, 165, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.callback {
    background-color: #f4f4f4;

}

.callback-items {
    padding: 46px 10px 45px;
    display: flex;
    justify-content: space-between;
}

.callback-title {
    font-family: Montserrat, sans-serif;
    color: #635c73;
    font-size: 30px;
    font-weight: 700;

}

.info-for-call {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

input[type=text] {
    font-family: Montserrat, sans-serif;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    border-radius: 21px;
    background-color: #ffffff;
    width: 37%;
    padding-left: 26px;
    height: 40px;
    border: transparent;
    outline: none;
}

input[type=submit] {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    border-radius: 21px;
    background-color: #8d81ac;
    width: 17%;
    height: 42px;
    border: none !important;
    outline: none;

}

input[type=submit]:hover {
    background-color: white;
    color: #8d81ac;
}

input::-moz-placeholder {
    font-family: Montserrat, sans-serif;
    color: #c8cbcf;
    font-size: 14px;
    font-weight: 400;

}

input::-webkit-input-placeholder {
    font-family: Montserrat, sans-serif;
    color: #c8cbcf;
    font-size: 14px;
    font-weight: 400;

}

.footer {
    padding: 79px 10px 51px 10px;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
}

.about-company {

    width: 25%;
}

.about-company-logo:hover .footer-logo-color {
    background: black;
}

.about-company-logo {
    display: flex;
    align-items: center;
}

.footer-company {
    color: #333333;
}

.about-company-logo:hover .footer-company {
    color: #8d81ac;
}

.footer-company-new-color {
    color: #8d81ac;
}

.about-company-logo:hover .footer-company-new-color {
    color: black;
}

.about-company-text {
    margin-top: 24px;
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.site-navigation {
    display: flex;
    flex-direction: column;
    width: 11%;
}

.site-navigation-title {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 23px;
}

.site-navigation-item a {
    color: #8d81ac;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

.site-navigation-item a:hover {
    border-bottom: 1px solid #8d81ac;
}

.company-contacts {
    width: 18%;
}

.telephone-number {
    color: #3f3f3f;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}

.working-time {
    color: #848e97;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.company-city {
    margin-top: 38px;
    margin-bottom: 20px;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.company-address {
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.company-info {
    width: 25%;
}

.company-info-title {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    margin-left: 52px;
}

.company-info-text {
    margin-top: 24px;
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

@media all and (max-width: 1157px) {
    .app-capabilities-example-title {
        font-size: 41px;
    }

}

@media all and (max-width: 992px) {

    .container {
        width: 100%;
    }

    .main-menu {
        padding: 22px 20px 61px 20px;
    }

    .test {
        justify-content: flex-end;
    }

    .main-menu-dropDown-links {
        width: 522px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 22px;
    }

    .main-menu-links {
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    .main-menu-links-item {
        margin: 0;
    }

    .main-menu-button {

    }

    .header-info {
        margin-top: 44px;
    }

    .app-name {
        font-size: 72px;
        font-weight: 700;
    }

    .app-slogan {
        font-size: 24px;
    }

    .version-number {
        font-size: 14px;
    }

    .app-info-about-item {
        font-size: 42px;
    }

    .app-features {
        padding: 54px 37px 47px 30px;
    }

    .app-features-about {
        width: 100%;
    }

    .app-capabilities-example-title {
        position: inherit;
        line-height: 1em;
        margin-left: 12px;
        margin-bottom: 60px;
        font-size: 42px;

    }

    .app-capabilities-example {
        position: relative;
        bottom: 0;
        left: 19%;
    }

    .app-capabilities-example-window {
        position: relative;
        bottom: 0;
        left: 19%;
    }

    .reviews-text-item-navigation-left {
        width: 20px;
        margin-right: 47px;
        margin-left: 38px;
    }

    .reviews-text-item-navigation-right {
        width: 25px;
        margin-left: 62px;
        margin-right: 34px;
    }

    .grey-line, .second-line {
        width: 768px;
    }

    .social-buttons {
        width: 68%;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        margin-left: 50%;
        transform: translateX(-50%);

    }

    .social-buttons-item:last-child {
        margin-top: 35px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .talks-about-fork {
        padding-left: 17px;
        padding-right: 17px;
    }

    .talks-about-fork-title {
        font-size: 42px;
        line-height: 1em;
    }

    .talks-about-fork-companies {
        width: 100%;

    }

    .talks-about-company-item {
        margin-top: 54px;
        width: 45%;
    }

    .talks-about-company-item:first-child, .talks-about-company-item:nth-child(2) {
        margin-top: 96px;
    }

    /*.fork-offers {*/
    /*padding-left: 65px;*/
    /*padding-right: 65px;*/
    /*}*/
    .fork-offers-items {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }

    .most-cool-item {
        position: relative;
        right: 17px;
        margin-top: 42px;
    }

    .fork-offers-item:nth-child(3) {
        width: 40%;
    }

    .fork-offers-item {
        margin-top: 42px;
        width: 34.5%;
    }

    .fork-offers-item:last-child {
        margin-top: 92px;
    }

    .fork-offers-footer {
        margin-top: 45px;
    }

    .callback-items {
        display: block;
        text-align: center;
        padding-top: 26px;
        padding-bottom: 32px;
        margin-left: 31px;
        margin-right: 31px;
    }

    .info-for-call {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        margin-top: 29px;
        margin-left: 50%;
        transform: translateX(-50%);

    }

    input[type=submit] {
        width: 140px;
        margin-top: 26px;
        margin-left: 50%;
        transform: translateX(-50%);
        border: none !important;
    }

    input[type=text] {
        margin: 0;
        width: 41%;
    }

    .footer {
        padding: 64px 33px 120px 38px;
    }

    .footer-items {
        flex-wrap: wrap;
    }

    .about-company, .site-navigation, .company-contacts, .company-info {
        width: 45%;
    }

    .company-info, .company-contacts {
        margin-top: 113px;
    }
}

@media all and (max-width: 706px) {
    .social-buttons {
        width: 100%;
    }
}

@media all and (max-width: 559px) {
    .app-capabilities-example-title {
        font-size: 35px;
    }
}

@media all and (max-width: 607px) {
    .fork-offers-item {
        width: 45%;
    }

    .fork-offers-item:nth-child(3) {
        width: 53%;
    }
}

@media all and (max-width: 530px) {
    .main-menu-dropDown-links {
        width: 430px;
    }
}

@media all and  (max-width: 480px) {

    .container {
        width: 100%;
    }

    /*.color480 {*/
    /*color: #333333;*/
    /*}*/
    .color480 span {
        color: #8d81ac;
    }

    .test {
        width: 50%;
        justify-content: space-between;
        flex-direction: row-reverse;
        height: 100%;
        align-items: flex-start;
    }

    .main-menu-dropDown-links {
        display: flex;
        align-items: flex-start;
        transform: none;
        position: static;
        width: auto;
    }

    .main-menu-dropDown-links:before {
        margin-right: 25px;
        content: url("../img/sep.png");
    }

    .main-menu-dropDown-links-item {
        width: 26px;
        height: 69px;
        background: url("../img/sandwich.png") no-repeat;
        background-position-y: 7px;
    }

    .main-menu-links {
        z-index: 100;
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        flex-direction: column;
        width: 100%;

    }

    .main-menu-links-item:first-child {
        display: block;
    }

    .main-menu-links-item {
        background-color: #333333;
        padding-top: 41px;
        padding-bottom: 41px;
        border-bottom: 2px solid rgba(192,192,192,0.1);
    }

    .main-menu-links-item a {
        font-size: 32px;
        margin-left: 33px;
    }

    .main-menu-dropDown-links:hover .main-menu-links {
        display: block;
    }

    .main-menu {
        height: 69px;
        justify-content: space-between;
        padding: 31px 25px 0px 25px;
        align-items: flex-start;
    }

    .main-menu-button {
        position: inherit;
    }

    .main-menu-links-item a:hover {
        margin-left: 0;
        padding-bottom: 7px;
        padding-top: 7px;
        border-left: 4px solid #8d81ac;
        padding-left: 29px;
    }


    .main-menu-button-item {
        margin-left: 0;
    }

    .app-features-about {
        position: relative;
    }

    .app-features {
        padding: 47px 30px 577px 20px;
        overflow: visible;
    }

    .app-capabilities-example-title {
        text-align: center;
        margin-left: 49px;
    }

    .app-capabilities-example-window {
        width: auto;
        position: absolute;
        bottom: -60px;
        left: 8%;
        padding: 24px 338px 452px 30px;
        background: url("../img/code-2.png") no-repeat;
    }

    .app-capabilities-example-window-title {
        display: none;
    }

    .reviews {
        padding: 120px 21px 60px 21px;
    }

    .reviews-text-item-navigation {
        align-items: center;
    }

    .reviews-text-item-navigation-left {
        text-align: left;
        margin: 0;
        width: 7%;
    }

    .reviews-text-item {
        font-size: 17px;
        width: 86%;
    }

    .reviews-text-item-navigation-right {
        text-align: right;
        width: 7%;
        margin: 0;
    }

    .grey-line {
        display: none;
    }

    .social-buttons {
        margin-top: 57px;
        flex-direction: column;
    }

    .social-buttons-item {
        margin-bottom: 30px;
    }

    .social-buttons-item:last-child {
        margin: 0;
        transform: translateX(0);
    }

    .talks-about-fork {
        padding-top: 63px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .talks-about-fork-companies {
        justify-content: center;
    }

    .talks-about-company-item {
        width: 90%;
    }

    .talks-about-company-item:nth-child(2) {
        margin-top: 65px;
    }

    .talks-about-company-item:nth-child(3) {
        margin-top: 57px;
    }

    .talks-about-company-item:nth-child(4) {
        margin-top: 69px;
    }

    .talks-about-company-item:nth-child(5) {
        margin-top: 69px;
    }

    .talks-about-company-item:last-child {
        margin-top: 69px;
    }

    .second-line {
        width: 73%;
        margin-top: 81px;
        margin-bottom: 0;
    }

    .fork-offers {
        padding: 12px 48px 39px;
    }

    .talks-about-fork-title {
        line-height: 1.2em;
    }

    .fork-offers-items {
        flex-direction: column;
    }

    .fork-offers-item {
        margin-top: 42px;
        width: 67%;
    }

    .fork-offers-item:nth-child(2), .fork-offers-item:last-child {
        margin-top: 14px;
    }

    .fork-offers-item:nth-child(3) {
        width: 80%;
        margin-top: 14px;
    }

    .most-cool-item {
        position: inherit;
    }

    .fork-offers-footer {
        width: 100%;
    }

    .footer-items {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .about-company {
        width: 70%;
    }

    .company-contacts {
        margin-top: 36px;
        width: 55%;
    }

    .site-navigation, .company-info {
        width: 100%;
        margin-top: 36px;
    }

    .company-info-title {
        margin: 0;
    }

}

@media all and (min-width: 481px) and (max-width: 524px) {
    .telephone-number {
        font-size: 27px;
    }

}

@media all and (max-width: 442px) {
    .main-menu-dropDown-links:before {
        margin-right: 10px;
    }

    .company-contacts {
        width: 82%;
    }
}

@media all and (max-width: 430px) {

    .main-menu {
        padding: 31px 10px 0px 10px;
    }

}

@media all and (max-width: 420px) {
    .fork-offers-item {
        width: 98%;
    }

    .fork-offers-item:nth-child(3) {
        width: 100%;
    }

    .callback-items {
        margin: 0;
    }
}

@media all and (max-width: 395px) {
    .app-info-about-item, .talks-about-fork-title {
        font-size: 35px;
    }

    .download-button {
        width: 310px;
    }

    .app-info-social {
        width: 310px;
    }

    .app-info-social-item, .people-quantity {
        padding: 3px 5px;
    }

    .main-menu {
        padding: 31px 10px 0px 10px;
    }

    .main-menu-company {
        margin-left: 4px;
        font-size: 24px;
    }

    .test {
        width:55%;
    }

    .main-menu-button-item {
        width: 120px;
    }

}

@media all and (max-width: 350px) {
    .main-menu-company {
        font-size: 18px;
    }

    input[type=text] {
        width: 40%;
    }
}

@media all and (max-width: 319px) {
    body {
        overflow-x: visible;
    }
}






