html, body {
    margin: 0;
    padding: 0;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    max-width: 900px;
}

.main-menu {
    background-color: #35444f;
    padding-left: 0;
}
.main-menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-right: 1px solid #35444f;
    border-left: 1px solid #35444f;
}

.main-menu a:hover {
    background-color: #222f3a;
    border-right: 1px solid #77818d;
    border-left: 1px solid #77818d;
}

.main-menu li {
    display: inline-block;
    list-style: none;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    max-width: 900px;
    display: flex;
}

.left-col{
    width: 25%;
}

.content{
    width: 75%;
    margin-left: 30px;
}

.left-menu {
    border: 1px solid #3e4245;
    padding-left: 0px;
    list-style: none;
    margin: 0px;
}

.left-menu li{
    padding: 15px 20px;
}

.left-menu li a {
    text-decoration: none;
    color: #3d4144;

}

.left-menu li:hover {
    background-color: #dbdbdb;
}
.left-menu li:hover a{
    padding-left: 15px;
}

.content-img-header{
    text-align: center;
    border: 1px solid #3e4245;
    padding: 40px;

}

.footer {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    max-width: 900px;
    background-color: #b3b7ba;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;

}

.footer-menu li {
    display: inline-block;
    list-style: none;
}

.footer-menu li a{
    margin:  0 20px;
    text-decoration: none;
    color: #121b22;
}

.footer-menu li a:hover{
    color: #477c8a;
    border-bottom: 1px solid #477c8a;
}

.footer-menu {

    padding-left: 0;
}

.copyright {
    margin-right: 20px;
    margin-left: 150px;
    line-height: 50px;
}



