body, html {
    background: url("../img/rana-sawalha-364253-unsplash.png") no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-color: rgba(0, 0, 0, 0.41);
    height: 54px;
    width: 100%;
}

.header li, ul, div {
    list-style: none;
    float: left;
    padding-left: 0;
}

.nav {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

.logo {
    width: 85px;
    height: 16px;
    margin-left: 81px;
    line-height: 54px;
    padding: 0;
    background: url("../img/css_sprites-2.png") no-repeat -10px -46px;
    margin-top: 18px;
}

.logo:hover {
    background-position: -10px -10px;
}

.calendar, .forum, .journey {
    margin-top: 17px;
    display: inline-block;
    margin-left: auto;
    background: url("../img/css_sprites.png") no-repeat -106px -49px;
    width: 19px;
    height: 19px;
    line-height: 54px;
}

.calendar:hover {
    background-position: -106px -10px;
}

.forum {
    margin-top: 16px;
    margin-left: 28px;
    width: 28px;
    height: 20px;
    background-position: -58px -10px;
}

.forum:hover {
    background-position: -10px -10px;
}

.journey {
    margin-top: 16px;
    margin-left: 28px;
    width: 20px;
    height: 20px;
    background-position: -50px -50px;
}

.journey:hover {
    background-position: -10px -50px;
}

.border {
    margin-left: 25px;
    border-width: 1px;
    border-color: #dfdddd;
    border-style: solid;
    opacity: 0.1;
    height: 17px;
    position: relative;
    top: 16px;
}

.welcome, .sign_up {
    margin-left: 24px;
    font-family: Verdana, serif;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    top: 16px;
}

.welcome a, .sign_up a {
    font-family: Verdana;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
}

.welcome a:hover, .sign_up a:hover {
    text-decoration: underline;
}

.sign_up {
    margin-left: 6px;

}

.right-part {
    float: right;
    margin-right: 75px;
}

main {
    width: 100%;
    height: calc(100% - 54px);
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

main div.form {

    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    background: url("../img/Background.png") no-repeat;
    height: 584px;
    width: 444px;
}

.form-head {
    margin-top: 29px;
    margin-bottom: 0;
}

.form-head li {
    font-family: Verdana;
    float: inherit;
}

.green-shape {
    margin-left: 0;
    background-color: #3cb878;
    width: 18px;
    height: 18px;

}

.sign-up {
    margin-left: 42px;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;

}

.log-in a {
    margin-left: 205px;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
}

.log-in a:hover {
    text-decoration: underline;
}

button {
    border-radius: 3px;
    width: 157px;
    height: 46px;
    margin-top: 23px;
    margin-left: 62px;
    padding: 0;
    float: left;
}

button p {
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 62px;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
    bottom: 25px;
}

div button p.google {
    margin-left: 72px;
}

.facebook-button {
    background: #305db8 url("../img/facebook1.png") no-repeat left 20px center;
    border: none;
}

.facebook-button:hover {
    background-color: #264b96;
}

.google-button {
    margin-left: 8px;
    background: #df4a32 url("../img/G+.png") no-repeat left 13px center;
    border: none;
}

.google-button:hover {
    background-color: #c3412c;
}

.border-2 {
    border: 1px solid #000000;
    opacity: 0.1;
    height: 26px;
    margin-left: 47px;
    margin-top: 9px;
    float: left;
}

.or {
    margin-top: 0;
    margin-bottom: 17px;
}

.border-3 {
    border: 1px solid #eaeaea;
    width: 133px;
    margin-left: 62px;
    margin-top: 29px;
    float: left;
}

.border-4 {
    border: 1px solid #eaeaea;
    width: 133px;
    margin-left: 19px;
    margin-top: 29px;
    float: right;
}

.choice {
    float: inherit;
    margin-top: 20px;
    margin-left: 19px;
    font-family: Verdana;
    color: #848484;
    font-size: 14px;
}

form {
    margin-left: 62px;

}

input[type=text], input[type=email], input[type=password] {
    border-radius: 3px;
    border: 1px solid #eaeaea;
    width: 300px;
    height: 44px;
    margin-top: 9px;
    padding-left: 20px;
    font-family: Verdana;
    color: #434343;
    font-size: 14px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 302px;
    height: 46px;
    margin-top: 9px;
    outline: none;
}

input::-webkit-input-placeholder {
    font-family: Verdana;
    color: #bebebe;
    font-size: 14px;
    margin-left: 19px;
    margin-top: 18px;
}

input::-moz-placeholder {
    font-family: Verdana;
    color: #bebebe;
    font-size: 14px;

}

.agree {
    margin-top: 22px;
    margin-bottom: 0;
}

.agree label {
    float: left;
    font-family: Verdana;
    color: #434343;
    font-size: 14px;
}

input.check-box {
    float: left;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url("../img/css_sprites-3.png") no-repeat -10px -10px;
    margin: 0 10px 0 62px;
    -webkit-appearance: none;
    outline: none;
}

input.check-box:checked {
    float: left;
    padding: 0;
    margin: 0 10px 0 62px;
    background-position: -50px -10px;

}

.agree label a {
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.agree label a:hover {
    text-decoration: underline;
}

.create-account {
    border-radius: 3px;
    background-color: #3cb878;
    width: 322px;
    height: 46px;
    margin-top: 15px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
    border: none;
}

.create-account:hover {
    background-color: #329a65;
}

