html body {
    padding: 0;
    margin: 0;
    background: url("../img/background milan.png") no-repeat;
    width: 1366px;
    height: 768px;
}

p, ul, li {
    margin: 0;
    padding: 0;
}

.forward {
    padding-left: 156px;
    padding-right: 145px;
}

.header {
    margin: 0;
    padding-top: 49px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo img {
    margin-right: 10px;
}

.contact-text {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    text-align: right;
}

/*.clearfix {*/
/*height: 0;*/
/*clear: both;*/
/*visibility: hidden;*/
/*}*/

.logo p {
    float: right;
}

.logo-text {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
}

.logo-text-big {
    font-family: Verdana;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

.main {
    margin-top: 45px;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    margin-bottom: 55px;

}

.img {
    position: relative;
    height: 205px;
    margin-bottom: 20px;
}

.tour span {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.tour:hover span {
    color: #f26522;
}

.tour:hover .info {
    display: block;
}

.info {
    position: absolute;
    bottom: 0;
    background-color: #f26522;
    width: 312px;
    height: 63px;
    padding: 16px 40px 17px 21px;
    box-sizing: border-box;
    display: none;
}

.info h6 {
    font-family: Verdana;
    color: #ffffff;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0px;

}

.info div {
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    line-height: 21px;

}

.info h4 {

    margin-top: 0;
    margin-bottom: 0;
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 126px;
    float: right;
    position: relative;

}

.info h4:after {
    content: '';
    width: 7px;
    height: 10px;
    background-image: url("../img/Arrow.png");
    position: absolute;
    top: 6px;
    right: -22px;
}

.footer h5 {
    font-family: Verdana;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.logo {
    float: left;
}

.contact {
    float: right;
}







