body, ul, p, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Montserrat, sans-serif;
}



.first-parallax {
    background: url("../img/bg1.jpg") no-repeat fixed center;
    background-size: cover;
}

.company-title {
    padding-left: 83px;
    padding-top: 530px;
    padding-bottom: 145px;
}

.company-title h2 {
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.company-title h4 {
    font-family: Lato;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.company-slogan {
    padding-top: 28px;
}

.company-slogan-item{
    border: 1px solid #ffffff;
    background-color:  #ffffff;
    padding: 49px 34px 42px 29px;
    float: left;
    color:  #f1ad1d;
    font-size: 54px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;

}

.item-color {
color: white;
    background-color:  rgba(0, 0, 0, 0.3);
}

.clearfix {
height: 0;
clear: both;
visibility: hidden;
}

.about-company-first {
    padding-top: 112px;
    padding-bottom: 137px;
}

.company-advantages {
   text-align: center;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.company-advantages-item {
    text-align: center;
    margin-top: 35px;
    font-family: Lato;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px
}

.yellow-line {
    margin-top: 52px;
    margin-bottom: 0;
    background-color:  #f1ad1d;
    width: 60px;
    height: 1px;
    border: 1px solid transparent;
}

.second-parallax {
    background: url("../img/bg2.jpg") no-repeat fixed center;
    background-size: cover;
}

.first-advantages-item {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.new-color {
    color:  #ffffff;
}

.color-text {
    color:  #f1ad1d;
}

.second-line-position {
    margin-top: 60px;
}

.third-parallax {
    background: url("../img/bg3.jpg") no-repeat fixed center;
    background-size: cover;
}

.second-advantages-item {
    padding-top: 174px;
    padding-bottom: 114px;
    text-align: center;
}

.companies-logo {
    margin-top: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.companies-logo-item:first-child {
    margin-right: 54px;
}

.companies-logo-item:nth-child(2) {
    margin-right: 66px;
}

.companies-logo-item:nth-child(3) {
    margin-right: 65px;
}

.fourth-parallax {
    background: url("../img/bg4.jpg") no-repeat fixed center;
    background-size: cover;
}

.third-advantages-item {
    padding-top: 130px;
    padding-bottom: 119px;
    text-align: center;
}

.third-advantages-item-description {
    font-family: OpenSans;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.third-line-position {
    margin: 60px auto;
}

.white-line {
    margin-top: 44px;
    margin-bottom: 0;
    background-color:  #ffffff;
    width: 281px;
    height: 2px;
    border: transparent;
}

.about-company-second {
    padding-top: 136px;
    padding-bottom: 180px;
}

.about-company-third {
    padding-top: 157px;
    padding-bottom: 122px;
}

.about-company-fourth {
    padding-top: 154px;
    padding-bottom: 179px;
}

