

p {
    font-size: 22px;



}
.test-img{
    max-width: 40%;
}

.small-text {
    font-size: 15px;
}

.green-text{
    color: green;
}

.red-text {
    color: red;
}

.small-text .gold-text {
    color: gold;
    border-bottom: 1px solid gold;
}

.h-text{
    font-size: 26px;
}

.img-responsive {
    max-width: 100%;
}

.test-div{

    border: 1px solid #000;

}

.test-a{
    margin-top: 30px;
}

.h-text-inline-block{
    display: inline-block;
}

.left-col, .tovari, .right-col{
    display: inline-block;
}

.left-col, .right-col{
    width: 15%;
}

.tovari{

    width: 65%;
}

.tovar-one{
    display: inline-block;
    width: 32%;
}

.tovar-name{
    border: 1px solid lightgreen;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: inline-block;
}

img {
    max-width: 100%;
}

.img-span{
    position: absolute;
    padding: 10px;
    border: 1px solid grey;
    background-color: antiquewhite;
    color: chocolate;
    border-radius:  5px;
    bottom: 0px;
}

.img-container {
    display: inline-block;
    position: relative;
}

.heart-light, .heart-black {
    display: inline-block;
    width: 50px;
    height: 50px;
    /*border: 1px solid red;*/
    background: url("../img/inst.png") no-repeat -260px -705px;
}

.heart-black{
    background-position: -610px -705px
}

/*.test-background:hover {*/

    /*background-position: -610px -705px*/
/*}*/

.color{
    border: 1px solid red;
}